{% extends "base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% endblock %}

{% block content %}


<p>We're sorry to see you go! If there is anything we can do to improve your Pop-Up Pantry experience, please contact one of our Escoffiers at <a href="http://service.popuppantry.com">service.popuppantry.com</a>.</p>

<p>We'd also love to to hear exactly why you're closing your account. It's feedback like yours that can help us improve the Pop-Up Pantry experience. If you have a couple minutes, please <a href="https://www.surveymonkey.com/s/68S8V8K" target="_blank" style="color: #336699;font-weight: bold;text-decoration: underline;">take our quick survey</a> for the <strong>chance to win a $500 pre-paid credit card</strong>. Your responses will be read by Tom & David, the company's co-founders, and our team leaders.</p>

{% endblock %}
