{% extends "base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% endblock %}

{% block content %}

<h2>Reset Your Password</h2>

<div class="box reset">

	<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send a new password to you." %}</p>

	<form action="" method="post">{% csrf_token %}

		<label for="id_email">Email address:</label>
		{{ form.email }}
		{% if form.email.errors %}
			<p class="error">{{ form.email.errors }}</p>
		{% endif %}
	    <input id="id_submit" class="orange_button_small" style="width:120px;" type="submit" value="{% trans "Reset" %}" />

	</form>

</div>

{% endblock %}
