{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Change your password" %}</h2>

<div class="box">

<form action="" method="post">{% csrf_token %}
<p>
	{% if form.old_password.errors %}
		{{ form.old_password.errors }}
	{% endif %}
	<label for="id_old_password">{% trans "Old password" %}:</label>
	{{ form.old_password }}
</p>
<p>
	{% if form.new_password1.errors %}
		{{ form.new_password1.errors }}
	{% endif %}
	<label for="id_new_password1">{% trans "New password" %}:</label>
	{{ form.new_password1 }}
</p>
<p>
	{% if form.new_password2.errors %}
		{{ form.new_password2.errors }}
	{% endif %}
	<label for="id_new_password2">{% trans "Confirm new password" %}:</label>
	{{ form.new_password2 }}
</p>
	<input type="submit" class="orange_button_small" value= "Submit" />
</form>

</div>

{% endblock %}
