
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr mc:repeatable="repeat_1" mc:repeatindex="0" mc:hideable="hideable_repeat_1_1" mchideable="hideable_repeat_1_1">
                                                        <td valign="top" style="border-collapse: collapse;">
                                                        	<div style="color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left;"><div style="padding-bottom: 8px;clear: both;color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left;">
	<span style="color:#000000;font-weight:bold;font-family:Georgia,Times,Serif;font-size:30px;line-height:34px;text-shadow:0.05em 0.05em 0.03em #596060;">You've been given Pop-Up Pantry, {{name}}!</span><br>
	<span style="color:#000000;font-weight:normal;font-family:Arial,Verdana,Helvetica,sans-serif;font-size:20px;line-height:24px;padding-bottom:8px;">We see you&#39;ve created a new account with Pop-Up Pantry. From everyone in the kitchen: Hello there!</span></div>
</div>
                                                            &nbsp;
                                                            <div style="color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left;"><div style="text-align: left;color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;">
	<span style="color: rgb(89, 172, 176); font-weight: bold; font-family: Georgia, Times, serif; font-size: 20px; line-height: 24px; text-shadow: rgb(89, 96, 96) 0.07em 0.07em 0.03em; ">Welcome to the club</span><br>
	<span style="line-height: 150%;">Everyone at Pop-Up Pantry is thrilled to welcome you as our newest member! It&#39;s folks like you who continue to make our jobs such a pleasure. We&#39;re looking forward to seeing which meals you&#39;re putting in your pantry (though let&#39;s be honest: they&#39;re all delicious).<br>
	<br>
	As a reminder, your username is <u>{{email}}</u>, and you can always place orders and manage your account at <a href="http://popuppantry.com/" style="color: #336699;font-weight: normal;text-decoration: underline;">popuppantry.com</a>.</span></div>
<div style="text-align: left;color: rgb(80, 80, 80); font-family: Arial; font-size: 14px; line-height: 150%; ">
	&nbsp;</div>
<div style="text-align: left;color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;">
	<span style="color: rgb(89, 172, 176); font-weight: bold; font-family: Georgia, Times, serif; font-size: 20px; line-height: 24px; text-shadow: rgb(89, 96, 96) 0.05em 0.05em 0.03em; ">Your friend says:</span><br>
	<span style="line-height: 150%;">{{message}}</span><br/>
    {% if num_meals and num_months %}

	<span style="line-height: 150%;">Your gift covers {{num_meals}} meals for {{num_months}} months.</span><br/>
    {% else %}
	<span style="line-height: 150%;">Your gift covers ${{balance}} of delicious meals.</span><br/>
    {% endif %} 
	<span style="line-height: 150%;">Your Code: {{code}}</span><br/>
	<span style="color: rgb(89, 172, 176); font-weight: bold; font-family: Georgia, Times, serif; font-size: 20px; line-height: 24px; text-shadow: rgb(89, 96, 96) 0.05em 0.05em 0.03em; ">If you ever need help</span><br>
	<span style="line-height: 150%;"> We&#39;re not just great at delivering delicious food &mdash; we&#39;ve got some pretty terrific customer service too. If there&#39;s ever an issue with your account, an order, or you just feel like chatting about the weather (that thunderstorm was crazy, wasn&#39;t it?!) then go ahead and reach out. Our customer service wizards are always available at <a href="http://service.popuppantry.com" style="color: #336699;font-weight: normal;text-decoration: underline;">service.popuppantry.com</a>, or you can ring us at +1-424-2-PANTRY. And don&#39;t worry: there&#39;s never a dress code.</span><br>
	<br>
	<br>
	<span style="font-size:14px;"><span style="line-height: 120%; ">Eat Well,<br>
	<span style="font-size:18px;"><strong>Tom &amp; David</strong></span><br>
	Pop-Up Pantry Co-Founders</span></span></div>
<br>
</div>
                                                        </td>
                                                    </tr>
                                                </table>
